@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  /* display: none; */
  background-color: #404040;
  /* height: 100vh; */
  /* overflow: hidden; */
}
::-webkit-scrollbar {
  width: 10px;    
  
}

::-webkit-scrollbar-track {
  background: #404040;  
    
}

::-webkit-scrollbar-thumb {
  background-color: #FD8730;    
  border-radius: 20px;       
  border: 3px solid #404040; 
  
}
/* ::-webkit-scrollbar {
  width: 10px;    
  
}

::-webkit-scrollbar-track {
  background: #404040;  
    
}

::-webkit-scrollbar-thumb {
  background-color: #FD8730;    
  border-radius: 20px;       
  border: 3px solid #404040; 
  
} */



.navBar {
  /* height: 60px; */
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 99.3%;
  background-color: rgba(64, 64, 64, 0.5);
  padding: 12px 80px;
  transition: 0.4s;
  /* background-color: red; */
}
.navbar-dark {
  padding: 7px 80px;
}
.navBar ul {
  display: flex;
  margin: auto 0;
  width: 87%;
  /* background-color: red; */
  justify-content: space-between;
  padding: 5px 0;
  gap: 2px;
  margin-right: -20px;
}
.navBar > ul > li {
  color: white;
  /* text-transform: uppercase; */
  /* font-weight: 600; */
  font-size: 17px;
  /* letter-spacing: 1px; */
  list-style-type: none;
  /* background-color: green; */

  animation-name: showright;
  animation-duration: 2s;
  /* animation-delay: 2.2s; */
}
.navBar > ul > li > a:hover {
  color: #fd8730;
  text-decoration: underline;
}
.navBar ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s linear;
}
.logo {
  width: 50px;
  animation-name: showleft;
  animation-duration: 2s;
  /* animation-delay: 2.2s; */
  transition: 0.4s;
}
@keyframes showright {
  0% {
    transform: translateX(2000px);
  }

  90% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes showleft {
  0% {
    transform: translateX(-2000px);
  }

  90% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

main{
  
  padding: 100px;
  padding-top: 80px;
  color: white; 
  background-color: #202020;
  
}
main h1 , h2,p{
  margin: 30px 0 ;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 2px;
  text-align: justify;
}
.contenedor-politicas{
  animation-name: showDown;
  animation-duration: 2s;
  transition: 0.4s;
}
@keyframes showDown {
  0%{
    transform: translateY(-1100px);
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.items-hamb{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  right: 0;
  
}
.menu-wrap {
  display: none;
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 1;
  width: 5vw;
  
  
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  /* position: absolute; */
  top: -10px;
  right: 5px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  /* display: flex; */
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  z-index: 9000;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  z-index: 9000;
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}
#items2{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 70px;
  align-items: center;
  width: 100%;
  list-style-type: none;
  
}
.item2{
  padding: 20px;
}
.menu-wrap .menu {
  background-color: rgba(0, 0, 0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  /* display: flex; */
  
  
}

.item2:hover{
  background-color: #414141;
}
@media screen and (max-width: 1023px) {
  .items .item{
    display: none;
  }
  .menu-wrap{
    display: block;
    
    right: 7%;
  }
  .home{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
  }
  .header-text{
    width: 86%;
    justify-content: center;
    margin: 0 auto;
    
  }
  
  .contenedor-politicas{
    width: 100%;
  }
}

@media screen and (max-width: 599px) and (min-height:401px){
  .header-text{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .header-text h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
  }
  .header-text h2{
    font-size: 20px;
    text-align: center;
    

  }
  .navBar{
    padding-left: 30px;
  }
  .menu-wrap{
    right: 50px;
    
  }
  .menu-wrap .menu{
    width: 100%;
    justify-content: center;
    text-align: center;
    
    padding: 0;
    margin: 0;
  }
  .menu-wrap .menu > div > div{
    background-color: aqua;
    margin-top: 20px;
    width: 100%;
  }
  .item2 {
     
     
    width: 110%;
  }
  
  .app-stores{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .app-stores img{
    width: 120px;
    height: fit-content;
  }
  main{
    padding-top: 50px;
    padding: 25px;
  }
  main h1{
    margin-top: 80px;
  }
}